
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadatro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input [type]="mostrarSenha ? 'text' : 'password'" required></ion-input>
      <ion-icon [name]="mostrarSenha ? 'eye' : 'eye-off'" slot="end" (click)="toggleMostrarSenha()"></ion-icon>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar senha</ion-label>
      <ion-input [type]="mostrarSenhaConfiirma ? 'text' : 'password'" required></ion-input>
      <ion-icon [name]="mostrarSenhaConfiirma ? 'eye' : 'eye-off'" slot="end" (click)="toggleMostrarSenhaConfirma()"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" (click)="cadastrarUsuario()">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
