ion-card-title{
  margin-top: 25%;
}
a{
  text-decoration: none;
}
ion-card-title{
  text-align: center;
}

p {
  color:#ff4961;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

.div-esqueceu-senha {
  text-align: center;
}