
ion-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 15rem; 
  width: 100%;
}

ion-card-header {
  background-color: #9d9d9d;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

ion-card-title {
  font-size: 1.1rem;
  color:#fff;
}

ion-card-content {
  padding: 1rem;
}

ion-icon {
  float: right;
  color: black;
}

