<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOptions">
    <ion-slide>
      <ion-card (click)="redirect('aluno')">
        <ion-card-header>
          <ion-icon name="people" size="large"></ion-icon>
          <ion-card-title>Alunos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Gerenciar alunos
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card (click)="redirect('usuario')">
        <ion-card-header>
          <ion-icon name="person-add" size="large"></ion-icon>
          <ion-card-title>Usuários</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Gerenciar usuários
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card (click)="redirect('configuration')">
        <ion-card-header>
          <ion-icon name="cog" size="large"></ion-icon>
          <ion-card-title>Configurações</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Configurações gerais.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
