<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Configuração</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Modo escuro</ion-label>
    <ion-toggle (ionChange)="toggleTheme($event)">
    </ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>
      Alterar senha
    </ion-label>
    <ion-button fill="clear" slot="end" >
      <ion-icon name="key" size="medium" ></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>

